@font-face {
	font-family: 'Louis George Cafe';
	src: url('Louis-George-Cafe.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Louis George Cafe';
	src: url('Louis-George-Cafe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Louis George Cafe';
	src: url('Louis-George-Cafe-Bold-Italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Louis George Cafe';
	src: url('Louis-George-Cafe-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Louis George Cafe';
	src: url('Louis-George-Cafe-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Louis George Cafe';
	src: url('Louis-George-Cafe-Light-Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
