.page-title-bar-05 {

	.heading {
		text-align: center;
	}

	.page-breadcrumb {
		position: absolute;
		bottom: 49px;
		left: 50%;
		transform: translateX(-50%);
	}

	.insight_core_breadcrumb {
		text-align: center;
	}
}
