.header-14 {

	.branding {
		display: flex;
		align-items: center;
	}

	.container,
	.row,
	.col-md-12 {
		height: 100%;
	}

	.page-header-inner {
		> .container {
			> .row {
				> .col-xs-12 {
					position: static;
				}
			}
		}
	}

	.header-wrap {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.header-left {
		display: flex;
		flex-grow: 1;
	}

	.desktop-menu & {
		.branding {
			margin-right: 40px;
		}

		.menu--primary {
			position: static;
			text-align: center;

			.toggle-sub-menu {
				display: none;
			}
		}
	}

	.mobile-menu & {
		.header-wrap {
			display: flex;
			align-content: center;
		}

		.branding {
			flex-grow: 1;
		}

		.header-right {
			flex-shrink: 0;
		}
	}

	.menu__container {
		.menu-item {
			&:hover {
				> a {
					.menu-item-title {
						&:after {
							width: 100%;
							left: 0;
							right: auto;
						}
					}
				}
			}
		}

		.menu-item-title {
			position: relative;
			overflow: hidden;
			z-index: 1;

			&:after {
				content: '';
				width: 0;
				height: 1px;
				bottom: 0;
				position: absolute;
				left: auto;
				right: 0;
				z-index: -1;
				transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
				background: currentColor;
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.header-14 {
		.desktop-menu & {
			.page-header-inner {
				> .container {
					max-width: 100%;
					padding-left: 150px;
					padding-right: 150px;
				}
			}
		}
	}
}
