.header-22 {

	.branding {
		display: flex;
		align-items: center;
	}

	.container,
	.row,
	.col-md-12 {
		height: 100%;
	}

	.page-header-inner {
		> .container {
			> .row {
				> .col-xs-12 {
					position: static;
				}
			}
		}
	}

	.header-wrap {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.desktop-menu & {
		.branding {
			flex-shrink: 0;
			flex-basis: 20%;
		}

		.header-right {
			flex-grow: 1;
		}

		.menu--primary {
			position: static;
			text-align: center;

			.toggle-sub-menu {
				display: none;
			}
		}
	}

	.mobile-menu & {
		.header-wrap {
			display: flex;
			align-content: center;
		}

		.branding {
			flex-grow: 1;
		}

		.header-right {
			flex-shrink: 0;
		}
	}
}

@include media-breakpoint-up(xl) {
	.header-22 {
		.desktop-menu & {
			.page-header-inner {
				.container-fluid {
					padding-left: 50px;
					padding-right: 50px;
				}
			}
		}
	}
}

@media screen and (min-width: 1600px) {
	.header-22 {
		.desktop-menu & {
			.page-header-inner {
				.container-fluid {
					padding-left: 100px;
					padding-right: 100px;
				}
			}
		}
	}
}
