.header-04 {

	.desktop-menu.admin-bar & {
		top: 32px;
		height: calc(100% - 32px);
	}

	.header-wrap {
		position: relative;
		display: flex;
	}

	.page-open-main-menu {
		margin-top: 36px;
	}

	.header-top,
	.header-bottom {
		flex-shrink: 0;
	}

	.header-top {
		display: flex;
		align-items: center;
	}

	.header-center {
		flex-grow: 1;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header-social-networks {
		.inner {
			margin: -5px -15px;
		}

		a {
			display: inline-block;
			margin: 5px 15px;
			padding: 5px 0;
			font-size: 14px;
		}
	}

	.desktop-menu & {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99999;
		width: 100px;
		height: 100%;

		.page-header-inner {
			height: 100%;
			border: 0;
		}

		.header-wrap {
			height: 100%;
			flex-flow: column;
			padding: 15px 10px 50px;
		}

		.header-top {
			flex-direction: column;
		}

		.header-social-networks {
			writing-mode: vertical-rl;
		}
	}

	.mobile-menu & {
		.header-wrap {
			padding: 0 15px;
		}

		.header-bottom {
			display: flex;
			align-items: center;
			margin: 0 -12px;

			> div {
				padding: 0 12px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.header-04 {
		.header-center {
			display: none;
		}

		.header-top {
			flex-grow: 1;
		}
	}
}
